body{
    background-color: black;
    color: white;
}

div#Menu>ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}

div#Menu>ul>li {
    display: block;
    display: inline-block;
    widht: 300px;
}

div#Menu>ul>li:hover {
    color: black;
    background-color: activecaption;
} 

div#Menu>ul>li a {
    display: block;
    color: white;
    text-decoration: none;
}

div#Menu>ul>li a:hover {
    color: red;
}

h1{
    text-align: center;
}