body{
    background-color: black;
    color: white;
}

div#Menu>ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}

div#Menu>ul>li {
    display: block;
    display: inline-block;
    width: 100px;
    padding: 4px 60px;
}

div#Menu>ul>li:hover {
    color: black;
    background-color: activecaption;
    padding: 4px 60px;


} 

div#Menu>ul>li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 4px 60px;

}

div#Menu>ul>li a:hover {
    color: red;
    padding: 4px 60px;


}

h1{
    text-align: center;
}

#logo {
    text-align: center;
}
p {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    border-color: #ffffff;
    background-color: #ff0000;
    border-radius: 25px;
    width: 600px;
    height: 150px;
}
