body{
    background-color: black;
    color: white;
}

div#Menu>ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}

div#Menu>ul>li {
    display: block;
    display: inline-block;
    widht: 300px;
        padding: 4px 80px;
}

div#Menu>ul>li:hover {
    color: black;
    background-color: activecaption;
        padding: 4px 80px;


} 

div#Menu>ul>li a {
    display: block;
    color: white;
    text-decoration: none;
        padding: 4px 80px;

}

div#Menu>ul>li a:hover {
    color: red;
        padding: 4px 80px;
    

}

h1{
    text-align: center;
}

